#app {
    height: 100%;
    .container-fluid, .container-fluid .container-row, .sidebar-container, .sidebar, .notes-container, .notes-container .content, .notes-container .editor {
        height: 100%;
    }
}


#add-more {
    color: #fff;
    position: fixed;
    display: block;
    right: 25px;
    bottom: 25px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background: $sidebar-link-bg-hover;
    z-index: 100;
    width: 50px;
    height: 50px;
    text-align: center;
}

.sidebar {
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: column;
    }

    background: $sidebar-bg;
    
    ul, li {
        padding: 0;
        margin: 0;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }


    header.search {
        padding: 0.5em 1.5em;
        #search {
            display: block;
            background-image: url('/images/icons/search.png');
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: 10px 50%;
            border-radius: 10px;
            border: 1px solid #f0f0f0;
            padding: 5px 6px 5px 40px;
            width: 100%;
            margin-bottom: 10px;
        }
        .dropdown-toggle {
            cursor:pointer;
        }
    }
    .notes-container {
        overflow: auto;
        height: 100%;;
        a {
            color: #000;
            display: block;
            width: 100%;
            padding: 2.1em 1.2em;
            h5 {
                font-size: 1em;
                //font-weight: bold;
                //margin-bottom: 1.2em;
            }
            p.caption {
                font-size: 0.8em;
                color: $sidebar-notes-caption;
                margin-bottom: 0;
                line-height: 1.1em;
            }
            &:hover, &.active {
                h5, p.caption {
                    color: #fff;
                }
                background: $sidebar-link-bg-hover;
            }
        }
    }
}

.toolbar {
    ul, li {
        padding: 0;
        margin: 0;
    }

    .left-tools {
        li {
            display: inline-block;
            margin: 10px;
            a {
                display: block;
                height: 23px;
                width: 23px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .account {
        #navbarDropdown {
            float: right;
            margin: 3px 35px;
            width: 50px;
            height: 50px;
            display: block;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}

/* Tags */
.tags {
    .ti-tag {
        background-color: #298DD6  !important;
    }
    .ti-input {
        border: none !important;
    }
}

.notes-container {
    .title {
        width: 100%;
        border: none;
        font-size: 1.8em;
        color: #298DD6;
        resize: none;
    }
    .tox-tinymce {
        border: none;
        font-family: "Roboto", sans-serif;
        height: 90% !important;
        .tox-edit-area {
            border-top: none;
        }
    }
}