nav {
    @include make-col-ready();
    margin-bottom: 5em;
    #logo {
        a {
            display: block;
            margin: 1em;
        }
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(9);
        }
    }

    #navigation {
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(3);
        }
        li {
            float: right;
            list-style-type: none;
            margin: 1em;

        }
    }

}

.internal-container {
    .card-header {
        margin-bottom: 1.2em;
    }
    .form-control {
        padding: 1.5em 0.8em;
    }
    .form-group {
        &.row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .btn-full-width {
        padding: 0.9em;
    }
}

.settings-container {
    aside {
        li {
            list-style-type: none;
            &.active a {
                color: #fff;
                background: $sidebar-link-bg-hover;
            }
        }
        a {
            display: block;
            padding: 0.5em 1em;
            background:$sidebar-bg;
        }
    }        
}

.sign-through-provider {
    padding: 0;
    li {
        margin: 1em  0em;
        list-style-type: none;
        a {
            padding: 0.5em !important;
        }
        .google {
            .icon {
                background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') 12px 50% no-repeat;
                display: inline-block;
                border-radius: 1px;
                vertical-align: middle;
                width: 42px;
                height: 42px;
            }
            background: #fff;
            color: #717171;
            border: 2px #CDD2D4 solid;
        }

    }
}